<div class="col-md-12 mt-3">
    <h3>{{title}}</h3>
    <p>Registrate en nuestra aplicación</p>
    <hr />

    <div *ngIf="alert">
        <div class="alert alert-info" role="alert">
            {{alert}}
        </div>
    </div>
    
    <form #form="ngForm" (submit)="onSubmit(form)" class="col-md-5 ml-0 pl-0 ">
        <p>
            <label class="font-weight-bold">Nombre:</label>
            <input type="text" #name="ngModel" name="name" [(ngModel)]="user.name" class="form-control" required>
            <span class="invalid-feedback d-block" *ngIf="!name.valid && name.touched">El nombre es obligatorio</span>

        </p>
        <p>
            <label class="font-weight-bold"> Apellidos:</label>
            <input type="text" #surname="ngModel" name="surname" [(ngModel)]="user.surname" class="form-control"
                required>
            <span class="invalid-feedback d-block" *ngIf="!surname.valid && surname.touched">Los apellidos son
                obligatorios</span>

        </p>

        <p>
            <label class="font-weight-bold">Correo electrónico:</label>
            <input type="text" class="form-control" #email="ngModel" name="email" [(ngModel)]="user.email"
                pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required>
            <span class="invalid-feedback d-block" *ngIf="!email.valid && email.touched">El email es obligatorio</span>

        </p>

        <p>
            <label class="font-weight-bold"> Descripción:</label>
            <textarea type="text" #description="ngModel" name="description" [(ngModel)]="user.description"
                class="form-control"> </textarea>
        </p>

        <div *ngIf="identity && user.image">            
            <img src="{{url+'user/avatar/'+user.image}}" class="avatar_edit"/>
        </div>



        <angular-file-uploader 
        [config]="afuConfig"
        (ApiResponse)="uploadImage($event)">
        </angular-file-uploader>
        <!-- <input type="file" #image="ngModel" name="image" [(ngModel)]="user.image" class="form-control" /> -->




        <input type="submit" value="Guardar cambios" class="btn btn-primary" [disabled]="form.invalid">

    </form>

</div>